---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";

const featureProjects = info.projects.map((project, index) => {
  if (project.isFeatured && index < 6) {
    return project;
  }
});
---

<!doctype html>
<html lang="en">
  <head>
    <MetaHead
      title={"Portfolio"}
      description={info.about}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={info.about} />
      <Experience title={"EXPERIENCE"} details={info.experience} />
      <Experience title={"EDUCATION"} details={info.education} />
      <Experience title={"LEADERSHIP"} details={info.leadership} />

      <section>
        <h2 class="w-[15rem] dark:text-light mt-16">FEATURED PROJECTS</h2>
        <ProjectsWrapper projects={featureProjects} />
      </section>
      <section>
        <h2 class="w-[15rem] dark:text-light mt-16">MY BLOG</h2>
        <h3 class="text-2xl dark:text-light mt-4">
          Coming Soon... </h3>
      </section>
    </Layout>
  </body>
</html>
